/* About */
#about {
    position: relative;
    display: block;
    width: 100vw;
}

.contact-link {
    cursor: pointer;
    color: rgb(141, 107, 20);
}

.core-ideas {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 75vh;
}

.core-idea {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: 40%;
}

.idea-logo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: rgba(128, 233, 107);
    background-size: contain;
    background-position: center;
}

.idea-text {
    max-width: 200px;
}

.profile-image {
    margin: 15px auto 20px auto;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-image: url('assets/Profile.jpg');
    background-size: cover;
    background-position: center;
}

.profile-title, .profile-text{
    width: 80%;
    margin: 20px auto;
}

.profile-text {
    margin-bottom: 40px;
}

@media screen and (min-width: 750px) {
    .core-idea {
        width: 25%;
    }
    .core-ideas {
        height: 50vh;
    }

    .profile-text {
        width: 50%;
    }
}

@media screen and (max-device-width: 500px) {
    .core-idea {
        width: 50%;
        height: 50%;
    }

    .idea-text {
        max-width: 300px;
    }

    .core-ideas {
        height: 50vh;
    }

    .profile-text {
        width: 75%;
    }
}

.skills {
    width: 80%;
    margin: 20px auto;
}

.skill {
    margin: 5px;
    display: flex;
    align-items: center;
    width: 100%;
    height: 30px;
}

.skill-title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10pt;
    width: 30%;
    height: 100%;
    background-color: rgba(128, 233, 107);
}

.skill-bar {
    width: 70%;
    height: 100%;
    background-color: rgba(128, 233, 120, .4);
    display: inline-block;
}

.progress {
    position: relative;
    z-index: 4;
    height: 100%;
    transition: all 2s;
    background-image: linear-gradient(to left, rgba(128, 233, 107, .6), rgba(255, 255, 255, .3));
}

.start {
    width: 0%;
}

.remaining {
    position: relative;
    bottom: 25px;
    right: 5px;
    z-index: 2;
    font-size: 10pt;
    display: flex;
    align-items: center;
    justify-content: flex-end;

}

@media screen and (max-device-width: 600px) {
    .skill {
        height: 50px;
    }
    .skill-title {
        font-size: 15pt;
    }

    .remaining {
        font-size: 15pt;
        bottom: 40px;
    }
}

