/* Contact */
#contact {
    position: relative;
    display: block;
    background-color: rgb(43, 48, 58);
}

.contact-text {
    margin: 25px;
    color: rgb(128, 233, 107);
}

.contact-form {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    height: 450px;
    max-width: 600px;
    margin: auto;
}

.name, .email, .message {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    border: none;
    margin: 5px;
    color: white;
    text-align: left;
}

.name::placeholder, .email::placeholder, .message::placeholder {
    position: relative;
    text-align: left;
    color: white;
}

.name, .email {
    height: 30px;
}

.name, .email, .message {
    padding: 10px;
}

.message {
    height: 200px;
}

.submit {
    position: absolute;
    right: -10px;
    top: 345px;
    cursor: pointer;
    transition: all .5s;
    margin: 10px 0px;
    color: white;
    background-color: rgba(0, 0, 0, 0);
    border: solid 2px white;
    padding: 10px 20px;
    font-size: 10pt;
}

.clear {
    cursor: pointer;
    right: 100px;
}

.submit:hover {
    background-color: rgb(128, 233, 107);
    color: rgb(43, 48, 58);
    border-color:  rgb(128, 233, 107);
}

#footer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(32, 36, 44);
    padding: 3vh;
}

.toTop {
    position: absolute;
    cursor: pointer;
    top: -25px;
    font-size: 20pt;
    color: goldenrod;
    background-color: rgb(43, 48, 58);
    border: solid 2px goldenrod;
    transition: all .5s;
}

.toTop:hover {
    color: rgb(43, 48, 58);
    background-color: goldenrod;
}

.footer-text {
    color: white;
    font-size: 15pt;
    font-family: 'Poppins', sans-serif;
    margin: 40px;
}

.social-icons {
    cursor: pointer;
    width: 100%;
    display: flex;
    justify-content: center;
}

.linkedIn {
    background: transparent url(assets/linkedInIcon.png) space 0 0;
}

.gitHub {
    background: transparent url(assets/gitHubIcon.png) space 0 0;
}

.social-link {
    display: inline-block;
    margin: 0px 20px;
    width: 50px;
    height: 50px;
    background-color: rgb(61, 67, 80);
    background-size: 50% 50%;
    background-position: center;
    background-repeat: no-repeat;
    transition: all .5s;
}

@keyframes scroll {
    0% {background-position: 20px center;}
    19% {background-position: 100px center}
    20%{background-position: 100px -100px}
    22%{background-position: -100px -100px}
    50% {background-position: -100px center;}
    100% {background-position: center;}
}

.social-link:hover {
    animation: scroll .5s;
    width: 52px;
    height: 52px;
    background-color: rgba(128, 233, 107, 0.603);
}

@media screen and (max-device-height: 500px) {
    #contact {
        height: 140vh;
    }
}

@media screen and (max-device-width: 500px) {
    #contact {
        height: 1200px;
        overflow-y: auto;
    }

    #footer {
         height: 15%;
    }

    .contact-form {
        max-width: 800px;
    }
    .name, .email {
        height: 60px;
        font-size: 25pt;
    }
    
    .message {
        height: 500px;
        font-size: 25pt;
    }

    .submit {
        top: 440px;
        padding: 20px 40px;
        font-size: 30pt;
    }

    .clear {
        right: 250px;
    }

    .toTop {
        top: -50px;
        width: 80px;
        font-size: 50pt;
    }

    .social-link {
        height: 100px;
        width: 100px;
        margin: 20px 40px;
    }

    .social-link:hover {
        height: 105px;
        width: 105px;
    }
}