* {
    margin: 0px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

html, body {
    width: 100%;
    height: 100vh;
    padding: 0px;
    margin: 0px;
}
.section-head {
    font-weight: 900;
    font-size: 25pt;
}

.flex {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

section {
    padding-top: 100px;
}

/* Nav */
nav {
    position: absolute;
    z-index: 100;
    display: block;
    width: 100%;
    height: 50px;
    color: white;
    background-color: rgb(43, 48, 58);
    border-bottom: 3px solid rgba(128, 233, 107);
}

.hamburger-icon {
    position: absolute;
    display: inline-block;
    font-size: 30pt;
    right: 5vw;
}

.nav-wrap {
    position: absolute;
    overflow: hidden;
    height: 0px;
    width: 100%;
    top: 53px;
    background-color: rgb(43, 48, 58);
}

.fixed {
    position: fixed;
    top: 0px;
}

.nav-button {
    font-size: 15pt;
    text-align: left;
    margin: 35px;
    cursor: pointer;
}

.nav-button:hover, .active {
    color: rgb(168, 125, 15);
}


.visible {
    height: 300px;
}

.bar {
    position: relative;
    background-color: white;
    width: 100%;
    margin: 5px;
    height: 10%;
}

#top, #bottom {
    transition: all .5s
}

.tilt {
    top: 12px;
    transform: rotate(45deg);
}

.fade {
    opacity: 0;
}

.untilt {
    top: -4px;
    transform: rotate(-45deg);
}


@media screen and (min-width: 500px) and (min-device-width: 500px){

    .hamburger-icon {
        display: none;
    }
    .nav-wrap {
        display: block;
        height: 50px;
        top: 0;
    }
    .nav-button {
        float: left;
        margin: 12px;
    }

}

@media screen and (max-width: 500px) {
    .hamburger-icon {
        width: 30px;
        height: 30px;
    }
    
    .nav-wrap {
        height: 0px;
        top: 53px;
        transition: all .5s;
    }
    
    .nav-button {
        font-size: 20pt;
        margin: 20px;
    }

    .visible {
        height: 320px;
    }
}

@media screen and (max-device-width: 500px) {
    .section-head {
        font-size: 75pt;
    }

    p {
        font-size: 25pt;
    }

    h2 {
        font-size: 40pt;
    }

    :placeholder-shown {
        font-size: 20pt;
    }

    nav {
        height: 80px;
        border-bottom: 10px solid rgba(128, 233, 107);
    }
    
    .hamburger-icon {
        width: 50px;
        height: 50px;
        font-size: 50pt;
    }
    
    .nav-wrap {
        height: 0px;
        top: 90px;
        transition: all .5s;
    }
    
    .nav-button {
        font-size: 40pt;
        margin: 40px;
    }

    .visible {
        height: 620px;
    }
}

/* Nav End */
